* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: aqua;
}
body{
	font-family:"Arial", sans-serif;
	font-size:24px;
    color:#000;
	margin: 0;
	padding:0;
}
.container{
	max-width:1024px;
	margin:0 auto;
	float:center;
	width:100%;
}
header{
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: darkgray;
}
.photo{
    margin: 0 1% 0 0;
}

header img{
    border: #000 3px solid;
    border-radius: 50%;
}
main{
    padding: 3%;
}
.skills{
    margin: 0 0 2% 0;
}
.skill__list{
    margin: 0 0 0 5%;
}
.education{
    margin: 0 0 2% 0;
}