*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:  #e1dfe2;
}
h1, h2{
    text-transform: uppercase;  
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.left__container{
    margin: 0 auto;
}
main{
    display: flex;
}
.left{
    background-color: #1e649f;
    width: 30%;
    text-align: center;
    padding: 5% 0;
    color:  #e1dfe2;
}
.left__person{
    margin: 0 0 20% 0;
}
.left img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: #e1dfe2 solid 3px;
    margin: 0 0 2% 0;
}
.left h1{
    position: relative;
}
.left h1:after{
    position: absolute;
    top: 100%;
    left: 10%;
    content: '';
    width: 75%;
    height: 3px;
    background: #e1dfe2;
}
.left h3{
    margin: 2% 0 0 0;
}
.left__about{
    padding: 0 5%;
    margin: 0 0 20% 0;
}
.left__about h2{
    margin: 0 0 1% 0;
}
.left__about p{
    font-size: 18px;
}
.contacts__info{
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}
.left__contacts h2{
    margin: 0 0 2% 0;
}
.contacts__info{
    font-size: 18px;
}

.right{
    background-color: #e1dfe2;
    width: 70%;
    text-align: center;
    color: #000;
    padding: 5% 5%;
    border: #1e649f double 25px;
}
.right h1{
    display: inline;
}
.right i{
    font-size: 26px;
    color: #1e649f;
    margin: 0 0 3% 0;
}
.right__education{
    margin: 0 0 10% 0;
}
.right p{
    font-size: 24px;
}
.right__skills{
    margin: 0 0 10% 0;
}
.skills__item{
    padding: 0 20%;
}
.skills__item p{
    text-transform: uppercase;
}
.php{
    display: flex;
    justify-content: space-between;
    margin: 0 0 3% 0;
    align-items: center;
    padding: 0 15%;
}
.box{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.box__item{
    width: 25px;
    height: 25px;
    border:#1e649f solid 2px;
    margin: 0 1% 0 0;
}
.color{
    background-color: #1e649f;
}
.java{
    display: flex;
    justify-content: space-between;
    margin: 0 0 3% 0;
    align-items: center;
    padding: 0 15%;
}
.html{
    display: flex;
    justify-content: space-between;
    margin: 0 0 3% 0;
    align-items: center;
    padding: 0 15%;
}
.css{
    display: flex;
    justify-content: space-between;
    margin: 0 0 3% 0;
    align-items: center;
    padding: 0 15%;
}
.right__languages p{
text-transform: capitalize;
}
.languages__tittle{
    margin: 0 0 2% 0;
}
.english{
    text-align: center;
}
.english h2{
    color: #1e649f;
}
.english__levels{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.english__levels p:nth-child(2){
    text-decoration: line-through;
}